@import "../../style/colors.scss";
main {
  .dia {
    min-width: 150px;
    .fecha {
      font-size: 1.8em;
      font-weight: 500;
    }
    .entrada {
      font-size: 1.4em;
      .confirmada {
        // background-color: map-get($map: $theme-colors, $key: "success");
        color: map-get($map: $theme-colors, $key: "grey");
      }
      .respondida {
        background-color: map-get($map: $theme-colors, $key: "primary-light");
        color: map-get($map: $theme-colors, $key: "dark");
      }
    }
  }
  @media (max-width: 1400px) {
    .dia {
      .fecha {
        font-size: 1.2em;
      }
      .entrada {
        font-size: 1em;
      }
    }
  }
  @media (max-width: 1000px) {
    .dia {
      .fecha {
        font-size: 1em;
      }
      .entrada {
        font-size: 1em;
      }
    }
  }
  @media (max-width: 600px) {
    .dia {
      .fecha {
        font-size: 1.2em;
      }
      .entrada {
        font-size: .8em;
      }
    }
  }
}
