<!-- Cabecera -->
<app-header selected="usuarios"></app-header>
<!-- Toast -->
<app-toast [toast]="this.toast"></app-toast>
<!-- Barra de herramientas -->
<nav id="toolbar" class="btn-toolbar bg-dark justify-content-between p-2 d-flex sticky-top">
    <div class="btn-group">
    </div>
    <div class="btn-group d-flex">
        <p class="align-self-center m-0 font-weight-bold text-light text-uppercase">Usuario</p>
    </div>
    <div class="btn-group">
        <!-- <button class="btn btn-sm btn-light" title="Filtrar" (click)="buscar()">
            <i class="fas fa-search"></i>
        </button> -->
        <button class="btn btn-sm btn-light" title="Guardar datos" (click)="guardarDatos()">
            <i class="fas fa-save"></i>
        </button>
        <button class="btn btn-sm btn-light" title="Volver" (click)="volver()">
            <i class="fas fa-times"></i>
        </button>
    </div>
</nav>
<!-- Cuerpo -->
<main class="container-xl init">
    <form class="align-self-center row px-5 pt-3" [formGroup]="formulario">
        <div class="form-group col-12">
            <label for="name" class="m-0 align-self-center required">Nombre</label>
            <input class="form-control w-100" type="text" formControlName="name" test-id="name">
            <div *ngIf="(this.formulario.get('name').dirty || this.formulario.get('name').touched) && this.formulario.get('name').invalid"
                class="alert alert-danger">
                <div *ngIf="formulario.get('name').errors.required" class="small">
                    Este campo es necesario
                </div>
                <div *ngIf="formulario.get('name').errors.maxlength" class="small">
                    Máximo de 255 caracteres
                </div>
            </div>
        </div>
        <div class="form-group col-12">
            <label for="lastName" class="m-0 align-self-center">Apellidos</label>
            <input class="form-control w-100" type="text" formControlName="lastName" test-id="lastName">
            <div *ngIf="(this.formulario.get('lastName').dirty || this.formulario.get('lastName').touched) && this.formulario.get('lastName').invalid"
                class="alert alert-danger">
                <div *ngIf="formulario.get('lastName').errors.maxlength" class="small">
                    Máximo de 255 caracteres
                </div>
            </div>
        </div>

        <div class="form-group col-12">
            <label for="username" class="m-0 align-self-center required">Usuario</label>
            <input class="form-control w-100" type="text" formControlName="username" test-id="username">
            <div *ngIf="(this.formulario.get('username').dirty || this.formulario.get('username').touched) && this.formulario.get('username').invalid"
                class="alert alert-danger">
                <div *ngIf="formulario.get('username').errors.required" class="small">
                    Este campo es necesario
                </div>
                <div *ngIf="formulario.get('username').errors.maxlength" class="small">
                    Máximo de 32 caracteres
                </div>
            </div>
        </div>

        <div class="form-group col-12">
            <label for="email" class="m-0 align-self-center required">Dirección de correo</label>
            <input class="form-control w-100" type="email" formControlName="email" test-id="email">
            <div *ngIf="(this.formulario.get('email').dirty || this.formulario.get('email').touched) && this.formulario.get('email').invalid"
                class="alert alert-danger">
                <div *ngIf="formulario.get('email').errors.required" class="small">
                    Este campo es necesario
                </div>
                <div *ngIf="formulario.get('email').errors.maxlength" class="small">
                    Máximo de 255 caracteres
                </div>
                <div *ngIf="formulario.get('email').errors.email" class="small">
                    Formato de correo no valido
                </div>
                <div *ngIf="!validEmail" class="small text-danger">
                    Ese email ya está en uso
                </div>
            </div>
        </div>

        <div class="form-group col-12">
            <label for="password" class="m-0 align-self-center">Contraseña</label>
            <input class="form-control w-100" type="password" formControlName="password" test-id="password"
                placeholder="Contraseña">
            <input class="form-control w-100" type="password" formControlName="password2" test-id="password2"
                placeholder="Confirmación de contraseña">
            <div *ngIf="(this.formulario.dirty || this.formulario.touched) && this.formulario.get('password').invalid"
                class="alert alert-danger">
                <div *ngIf="formulario.get('password').errors.required" class="small">
                    Este campo es necesario
                </div>
                <div *ngIf="formulario.get('password').errors.minLength" class="small">
                    Mínimo de 8 caracteres
                </div>
                <div *ngIf="formulario.get('password').errors.maxlength" class="small">
                    Máximo de 32 caracteres
                </div>
                <div *ngIf="!validPasswords" class="small">
                    Las contraseñas no coinciden
                </div>
            </div>
        </div>
    </form>
</main>