<!-- Cabecera -->
<app-header selected="libro"></app-header>
<!-- Cuerpo -->
<main class="">
    <form class="align-self-center container-xl" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="row">
            <span class="text-danger col-12 text-center">{{mensaje}}</span>
        </div>
        <ul class="nav nav-tabs mb-3 col-12 row" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tab-1" data-mdb-toggle="tab" (click)="showTab(1)" role="tab"
                    aria-controls="tabs-1" aria-selected="true">Datos básicos</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab-2" data-mdb-toggle="tab" (click)="showTab(2)" role="tab"
                    aria-controls="tabs-2" aria-selected="false">Detalles</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab-3" data-mdb-toggle="tab" (click)="showTab(3)" role="tab"
                    aria-controls="tabs-3" aria-selected="false">Economico</a>
            </li>
        </ul>
        <!-- Tabs content -->
        <div class="tab-content row">
            <div class="tab-pane fade col-12 container show active" id="tabpanel-1" role="tabpanel"
                aria-labelledby="ex1-tab-1">
                <div class="row">
                    <div class="col-md-6 pt-3 px-5">
                        <h5>Salida</h5>
                        <div class="form-group d-flex">
                            <div class="mr-auto">
                                <label class="required" for="salidaFecha">Fecha</label>
                                <input type="date" class="form-control w-auto" formControlName="salidaFecha"
                                    test-id="salidaFecha" [value]="datos.salidaFecha" required>
                            </div>
                            <div>
                                <label for="salidaHora">Hora</label>
                                <input type="time" class="form-control w-auto" formControlName="salidaHora"
                                    test-id="salidaHora" [value]="datos.salidaHora">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="required" for="salidaLugar">Lugar</label>
                            <textarea row="2" class="form-control no-resize" formControlName="salidaLugar"
                                test-id="salidaLugar" [value]="datos.salidaLugar"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6 pt-0 pt-sm-3 px-5">
                        <h5>Llegada</h5>
                        <div class="form-group d-flex">
                            <div class="mr-auto">
                                <label for="llegadaFecha">Fecha</label>
                                <input type="date" class="form-control w-auto" formControlName="llegadaFecha"
                                    test-id="llegadaFecha" [value]="datos.llegadaFecha">
                            </div>
                            <div>
                                <label for="llegadaHora">Hora</label>
                                <input type="time" class="form-control w-auto" formControlName="llegadaHora"
                                    test-id="llegadaHora" [value]="datos.llegadaHora">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="required" for="llegadaLugar">Lugar</label>
                            <textarea row="2" class="form-control no-resize" formControlName="llegadaLugar"
                                test-id="llegadaLugar" [value]="datos.llegadaLugar"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group px-5">
                        <label for="itinerario">Itinerario</label>
                        <textarea row="2" class="form-control no-resize" formControlName="itinerario"
                            test-id="itinerario" [value]="datos.itinerario"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group px-5">
                        <label for="contacto">Contacto</label>
                        <input type="text" class="form-control" formControlName="contacto" test-id="contacto"
                            [value]="datos.contacto" />
                    </div>
                    <div class="col-12 form-group px-5">
                        <label for="contactoTlf">Telefono contacto</label>
                        <input type="tel" class="form-control" formControlName="contactoTlf" test-id="contactoTlf"
                            [value]="datos.contactoTlf">
                    </div>
                </div>
            </div>
            <div class="tab-pane fade col-12 container" id="tabpanel-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                <div class="row">
                    <div class="col-12 form-group px-5 d-flex">
                        <label class="align-self-center m-0 mr-3" for="kms">Kms</label>
                        <input type="text" class="form-control w-auto" formControlName="kms" test-id="kms"
                            [value]="datos.kms">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-5 mb-3">
                        <div class="form-group d-flex">
                            <label class="align-self-center m-0 mr-3 required" for="cliente">Cliente</label>
                            <select class="form-control mb-2" formControlName="cliente" test-id="cliente">
                                <option value="0" selected></option>
                                <option *ngFor="let cliente of clientes" [value]="cliente.id">
                                    {{cliente.nombre.toUpperCase()}}{{cliente.telefono && " ("+ cliente.telefono+")"}}
                                </option>
                            </select>
                            <button class="btn btn-sm btn-success h-100 mt-1 ml-2" type="button"
                                (click)="clienteModal.show()" title="Agregar un nuevo cliente">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <textarea row="2" class="form-control no-resize" formControlName="clienteDetalle"
                            test-id="clienteDetalle" [value]="datos.clienteDetalle"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 px-5">
                        <div class="mb-1">
                            <button class="btn btn-sm btn-success" type="button" (click)="conductoresModal.show()"
                                title="Agregar un conductor">
                                <i class="fas fa-plus"></i>
                            </button>
                            <label class="m-0" for="conductores">Conductores</label>
                        </div>
                        <div id="conductores" class="d-flex flex-wrap flex-column">
                            <div *ngFor="let conductor of datos.conductores;index as i" class="d-flex form-group"
                                [attr.data-id]="conductor.conductor.id">
                                <input class="form-control bg-light text-uppercase w-responsive" type="text" disabled
                                    [value]="conductor.conductor.nombre">
                                <button class="btn btn-sm btn-danger eliminar-item" type="button"
                                    (click)="eliminarItem($event,1,i)">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 px-5">
                        <div class="mb-1">
                            <button class="btn btn-sm btn-success" type="button" (click)="cochesModal.show()"
                                title="Agregar un coche">
                                <i class="fas fa-plus"></i>
                            </button>
                            <label class="m-0" for="coches">Coches</label>
                        </div>
                        <div id="coches" class="d-flex flex-wrap flex-column">
                            <div *ngFor="let coche of datos.coches;index as i" class="d-flex form-group"
                                [attr.data-id]="coche.coche.id">
                                <input class="form-control bg-light text-uppercase w-responsive" type="text" disabled
                                    [value]="coche.coche.matricula">
                                <button class="btn btn-sm btn-danger eliminar-item" type="button"
                                    (click)="eliminarItem($event,2,i)">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-5 mb-3">
                        <label class="align-self-center m-0 mr-3" for="cliente">Observaciones</label>
                        <textarea row="2" class="form-control no-resize" formControlName="observaciones"
                            test-id="observaciones" [value]="datos.observaciones"></textarea>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade col-12 container" id="tabpanel-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                <div class="row">
                    <div class="col-12 mt-3 px-5">
                        <div class="form-group d-flex">
                            <label class="align-self-center m-0 mr-3">Importe</label>
                            <input class="form-control text-right" type="number" formControlName="importe"
                                test-id="importe" [value]="datos.importe">
                            <i class="align-self-center fas fa-euro-sign cursor-default"></i>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" formControlName="cobrado"
                                    test-id="cobrado">
                                <label class="form-check-label" for="cobrado">Cobrado</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group px-5">
                        <label for="gastos">Gastos</label>
                        <textarea row="2" class="form-control no-resize" formControlName="gastos" test-id="gastos"
                            [value]="datos.gastos"></textarea>
                    </div>
                </div>
                <div *ngIf="formulario.controls['cobrado'].value == 1" class="row">
                    <div class="col-xl-3 col-md-4 col-sm-5 mt-3 px-5 form-group">
                        <label for="cobradoFecha">Fecha de cobro</label>
                        <input type="date" class="form-control w-auto" formControlName="cobradoFecha"
                            test-id="cobradoFecha" [value]="datos.cobradoFecha">
                    </div>
                    <div class="col-xl-9 col-md-8 col-sm-7 mt-3 px-5 form-group">
                        <label for="cobradoForma">Forma de cobro</label>
                        <input type="text" class="form-control" formControlName="cobradoForma" test-id="cobradoForma"
                            [value]="datos.cobradoForma">
                    </div>
                    <div class="col-12 mt-3 px-5 form-group">
                        <label for="cobradoDetalle">Detalles de cobro</label>
                        <input type="text" class="form-control" formControlName="cobradoDetalle"
                            test-id="cobradoDetalle" [value]="datos.cobradoDetalle">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group px-5">
                        <label for="facturaNombre">Nombre de factura</label>
                        <input type="text" class="form-control" formControlName="facturaNombre" test-id="facturaNombre"
                            [value]="datos.facturaNombre">
                    </div>
                    <div class="col-12 form-group px-5">
                        <label for="facturaNumero">Numero de factura</label>
                        <input type="number" class="form-control" formControlName="facturaNumero"
                            test-id="facturaNumero" [value]="datos.facturaNumero">
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-5 d-flex justify-content-center">
                <button type="submit" id='btn-guardar' id-test='btn-guardar' type="submit" class="btn btn-success mx-2">
                    <i *ngIf="cargando" class="fa fa-spinner fa-spin"></i>
                    {{ id==0 && "Crear" || "Modificar" }}
                </button>
                <button (click)="volver()" class="btn btn-danger mx-2">Cancelar</button>
            </div>
        </div>
        <!-- 

        -->
    </form>
</main>
<!-- Modal de coches -->
<div mdbModal #cochesModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="cochesModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Lista de coches</h5>
                <button type="button" class="close" (click)="cochesModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-header">
                <div class="d-flex w-100">
                    <label for="nuevo-coche" class="align-self-center m-0 pr-4 text-uppercase">Nuevo</label>
                    <input #cochesModalInput class="form-control text-uppercase" type="text"
                        (change)="onChangeInputModal(cochesModalSelect)">
                </div>
            </div>
            <div class="modal-body text-left">
                <select #cochesModalSelect class="form-control mb-2" test-id="conductores-modal"
                    (change)="onChangeSelectModal(cochesModalInput)">
                    <option value="0" selected></option>
                    <option *ngFor="let coche of coches" [value]="coche.id">
                        {{coche.matricula.toUpperCase()}}
                    </option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                    (click)="onClickCoches(cochesModalInput.value,cochesModalSelect.value)">Agregar</button>
                <button id="coches-modal-close" type="button" class="btn btn-danger"
                    (click)="cochesModal.hide()">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal de conductores -->
<div mdbModal #conductoresModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="conductoresModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Lista de conductores</h5>
                <button type="button" class="close" (click)="conductoresModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-header">
                <div class="d-flex w-100">
                    <label for="nuevo-conductor" class="align-self-center m-0 pr-4 text-uppercase">Nuevo</label>
                    <input #conductorModalInput class="form-control text-uppercase" type="text"
                        (change)="onChangeInputModal(conductorModalSelect)">
                </div>
            </div>
            <div class="modal-body text-left">
                <select #conductorModalSelect class="form-control mb-2" test-id="conductores-modal"
                    (change)="onChangeSelectModal(conductorModalInput)">
                    <option value="0" selected></option>
                    <option *ngFor="let conductor of conductores" [value]="conductor.id">
                        {{conductor.nombre.toUpperCase()}}
                    </option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                    (click)="onClickConductores(conductorModalInput.value,conductorModalSelect.value)">Agregar</button>
                <button id="conductores-modal-close" type="button" class="btn btn-danger"
                    (click)="conductoresModal.hide()">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal para agregar clientes -->
<div mdbModal #clienteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="clienteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar cliente</h5>
                <button type="button" class="close" (click)="clienteModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <div class="form-group">
                    <label for="clienteNombreModal" class="align-self-center m-0 pr-4 text-uppercase">Nombre</label>
                    <input #clienteNombreModal class="form-control text-uppercase" type="text">
                </div>
                <div class="form-group">
                    <label for="clienteTelefonoModal" class="align-self-center m-0 pr-4 text-uppercase">Telefono</label>
                    <input #clienteTelefonoModal class="form-control text-uppercase" type="tel">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                    (click)="onClickClientes(clienteNombreModal.value,clienteTelefonoModal.value)">Agregar</button>
                <button id="clientes-modal-close" type="button" class="btn btn-danger"
                    (click)="clienteModal.hide()">Cerrar</button>
            </div>
        </div>
    </div>
</div>