@import "../../style/colors.scss";
main {
  .respondida {
    background-color: map-get($map: $theme-colors, $key: "primary-light");
    color: map-get($map: $theme-colors, $key: "dark");
  }
}
label {
  &.confirmar-coches {
    padding: 0 1em;
  }
  &.confirmar-matricula {
    background-color: lightgoldenrodyellow;
  }
  &.confirmar-presupuesto {
    background-color: rgb(214, 214, 214);
  }
}
